@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: var(--White, #FFF); ;
    font-family: 'Hanken Grotesk', sans-serif;
}
.main{
    display: grid;
    place-items: center;
}
.box1 {
    width: 375px;
    height: 356px;
    border-radius: 0px 0px 32px 32px;
    background: var(--Gradient-1, linear-gradient(180deg, #75F 0%, #6943FF 0.01%, #2F2CE9 100%));
}
.div1 {
    color: var(--Light-Blue, #CAC9FF);
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin-top: 24px;
}
.blue {
    position: absolute;
    width: 140px;
    height: 140px; 
    margin-top: 24px;
    margin-left: 117px;
    fill: var(--Gradient-2, linear-gradient(180deg, #4D21C9 0%, rgba(37, 33, 201, 0.00) 100%, rgba(37, 33, 201, 0.00) 100%));
}
.gt {
    position: absolute;
    color: var(--Light-Blue, #CAC9FF);
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin-top: 188px;
    margin-left: 154px;
}
.your {
    width: 260px;
    color: var(--Light-Blue, #CAC9FF);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin-top: 227px;
    margin-left: 58px;
}
.box2 {
    width: 375px;
    background: var(--White, #FFF);
}
.sy {
    color: var(--Dark-Navy, #303B59);
    font-size: 18px;
    font-weight: 700;
    margin-top: 24px;
    margin-left: 32px;
}
.div2 {
    display: grid;
    place-items: center;
    grid-template-areas:'reaction'
                        'Memory'
                        'Verbal'
                        'Visual';
    row-gap: 16px;
    margin-top: 24px;
}
.item1 {
    grid-area: reaction;
    width: 315px;
    height: 56px;
    border-radius: 12px;
    background: var(--red-95-white, linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #F55);
}
.item2 {
    grid-area: Memory;
    width: 315px;
    height: 56px;
    border-radius: 12px;
    background: var(--yellow-95-white, linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #FFB21E);
}
.item3 {
    grid-area:Verbal;
    width: 315px;
    height: 56px;
    border-radius: 12px;
    background: var(--green-95-white, linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #00BB8F);
}
.item4 {
    grid-area:Visual;
    width: 315px;
    height: 56px;
    border-radius: 12px;
    background: var(--blue-95-white, linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #1125D6);
}
.rmvv {
    position: absolute;
    margin-top: 17px;
    margin-left: 48px;
}
.iconpos {
    position: absolute;
    margin-top: 17px;
    margin-left: 16px;
}
.numpos {
    position: absolute;
    margin-left: 235px;
    margin-top: 17px;
}
.colorr {
    color: var(--Red, #F55);
    font-size: 16px;
    font-weight: 500;
}
.colorm {
    color: var(--Yellow, #FFB21E);
    font-size: 16px;
    font-weight: 500;
}
.colorv {
    color: var(--Green, #00BB8F);
    font-size: 16px;
    font-weight: 500;
}
.colorv2 {
    color: var(--Blue, #1125D6);
    font-size: 16px;
    font-weight: 500;
}
.num2pos {
    margin-top: 17px;
    margin-left: 261px;
    opacity: 0.5;
    font-size: 16px;
    font-weight: 700;
    color: var(--Dark-Navy, #303B59);
}
.numposcolor {
    font-weight: 700;
    font-size: 16px;
    color: var(--Dark-Navy, #303B59);
}
.lastone {
    width: 315px;
    height: 56px;
    border-radius: 128px;
    background: var(--Dark-Navy, #303B59);
    margin-top: 24px;
}
.cont {
    color: var(--White, #FFF);
    font-size: 18px;
    font-weight: 700;
    margin-top: 14px;
    margin-left: 120px;
}